<% if User.current.allowed_to?(:view_time_entries, @project) %>
<div>
  <h3><%= l(:label_spent_time) %></h3>
  <% if @total_hours.present? %>
    <p><span class="icon icon-time"><%= l_hours(@total_hours) %></span></p>
  <% end %>
  <p>
  <% if User.current.allowed_to?(:log_time, @project) %>
    <%= link_to l(:button_log_time), new_project_time_entry_path(@project) %> |
  <% end %>
  <%= link_to(l(:label_details), project_time_entries_path(@project)) %> |
  <%= link_to(l(:label_report), report_project_time_entries_path(@project)) %>
  </p>
</div>

<div>
  <h3>Expected time</h3>
  <% if @total_hours.present? %>
    <p><span class="icon icon-time"><%= @total_estimated_hours %></span></p>
  <% end %>

  </p>
</div>  
  
  
<% end %>
<%= call_hook(:view_projects_show_sidebar_bottom, :project => @project) %>
